
body {
  font-family:  "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Arial, "ＭＳ Ｐゴシック", sans-serif;
  line-height: 1.7em;
  padding: 1rem;
}

pre {
  color: inherit;
  line-height: 1.5em;
  padding: .2rem;
}

#content {
  margin-top: 1rem;
}

.jumbotron {
  padding: 1rem 0rem 1rem 2rem;
  margin: 0 2rem 0.5rem 2rem; 
}


.main {
  margin: 0rem 2rem 0rem 4rem;
}

nav {
  margin: 0.8em;
  display: -webkit-flex; /* Safari */
  display: flex;

  -webkit-justify-content: space-between; /* Safari */
  justify-content:         space-between;
}

.topmenu {
  align-items:center;
  margin-right: 2rem;
}

.topmenu .menublock {
  padding-left: .5em;
  padding-right: .5em;
}

.topmenu .menulink {
  display: inline-block;
  padding-left: .5em;
  padding-right: .5em;
}

.topmenu .searchform {
  height: 100%;
  vertical-align: middle;
}

.topmenu  .form-control {
  display: inline;
  width: 200px;
}

.topmenu  .btn {
  display: inline;
  }


.ibox {
  display: inline-block;
}

.center {
  text-align: center;
}


.sitetitle {
  font-size: 2em;
  color: #292b2c;
  font-weight: bold;
}

.acard .card-block {
  padding-top: 0px;
}

.acard h4 {
  font-size: 1.3em;
  font-weight: normal;
}

.right-box {
  margin-left: 1em;
  margin-bottom: 1em;
}

.right-box h2 {
  margin: 0;
  color: #234764;
  font-size: 1em;
}

.right-box .btn {
  font-size: 12px;
  padding: 5px;
}

.right-box .ibox {
  margin-right: 10px;
  margin-bottom: 0.8em;
}


.published {
  font-size: 12px;
  padding-top: 0.1em;
}

.entry-title {
  font-size: 1.8rem;
  padding: 0.1em 0em 0em;
}

.largeimage {
  margin:.5em;
  width:90%;
}

.articlle_header {
  display:flex;
}

.articles_title {
  font-size: 1.5em;
}

.article-button {
}

H1,H2,H3,H4,H5 {
/*  font-family: Georgia, "Bitstream Vera Serif", "New York", Palatino, serif; */
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Arial, 'ＭＳ Ｐゴシック', sans-serif;
  font-weight: bold;
  line-height: 1.5em;
  color: #234764;
}

H1
{
/*  font-size: 140%; */
  color: #376A94;
  text-decoration: none;
}

H1 A,
.entry-title A
{
  color: #234764;
}

H2
{
/*  font-size: 120%; */
  margin: 0.2em 0 0.5em 0;
}

H3
{
/*  font-size: 110%; */
  color: #366D9C;
  margin: 0.4em 0 0.0em 0;
}

H4
{
/*  font-size: 100%; */
  color: #366D9C;
  margin: 0.4em 0 0.0em 0;
}

.entry-content h1 {
  margin: 1.5rem 0 1rem;
  font-size: 2.0rem;
}

.entry-content h2 {
  margin: 2rem 0 0.5rem;
  font-size: 1.5rem;
}

.entry-content h3 {
  margin: 2rem 0 0.5rem;
  font-size: 1.2rem;
}



blockquote {
  margin-left: 2em;
}


dt {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  text-indent: -1rem;
  padding-left: 1rem;}

dt:before {
    content: "\025B8";
    margin-right: 0.5rem;
}

dd {
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
}

#contentinfo {
  margin-top: 2em;
  margin-right: 2em;
  text-align: right;
}


.index-pagination {
   font-size: 20px;
}

.index-navi {
  border-style: solid;
  padding: 3px;
}

.index-disabled-link {
  pointer-events: none;
  color: #f0f0f0;
}

.snsbuttons {
  display:flex;
  line-height: 1.0rem;
  margin: 2rem 10px 10px 0px;
  width: 100%;
}

.snsbuttons > div {
  margin: 3px 3px 0px 3px;
  line-height: 1.0rem;
}

.small_article_link {
  font-size: 0.9rem;
  line-height: 1.3rem;
}

.small_article_link hr {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}


#imagemodal .modal-dialog {
  max-width: 90%;
}

#imagemodal .modal-body {
  padding-top: 0px;
}

#imagemodal img {
  max-width: 100%;
}

#imagemodal .modal-body {
  text-align: center;
}

.enlarge_img img {
  padding: 0rem;
  margin-bottom: 1rem;
  border: solid 1px rgba(0,0,0,.125);
  border-radius: .25rem;
  max-width: 80%;
}

.enlarge_img img:hover {
  border: solid 3px rgba(0,0,0,.525);
}

.literal {
  font-family: Consolas,monaco,"Ubuntu Mono",courier,monospace!important;
  border: 1px solid #E8E8E8;
  padding: .1rem .4rem;
  border-radius: .2rem;

  background: #F9F9F9;
  color: #C25;
/*  font-size: .9rem; */
  padding: 2px 3px 1px;
}

.headerref {
  line-height: 1.5rem;
}

.headerref_h1 {
  font-size: 0.9rem;
}

.headerref_h2 {
  font-size: 0.8rem;
  margin-left: 1rem;
}

.headerref_h3 {
  font-size: 0.8rem;
  margin-left: 1.5rem;
}

.article_summary_body h1 {
  font-size: 1.3rem;
}

.article_summary_body h2 {
  font-size: 1.2rem;
}

.article_summary_body h3 {
  font-size: 1.2rem;
}
