beautifulsoup4==4.6.0
certifi==2017.4.17
chardet==3.0.4
docutils==0.13.1
feedgenerator==1.9
happylogging==0.0.2
idna==2.5
Jinja2==2.9.6
Markdown==2.6.8
MarkupSafe==1.0
miyadaiku==0.0.11
miyadaiku.themes.bootstrap4==0.0.6
miyadaiku.themes.fontawesome==0.0.4
miyadaiku.themes.jquery==0.0.7
miyadaiku.themes.tether==0.0.5
pkginfo==1.4.1
Pygments==2.2.0
python-dateutil==2.6.1
pytz==2017.2
PyYAML==3.12
requests==2.18.1
requests-toolbelt==0.8.0
six==1.10.0
tqdm==4.14.0
twine==1.9.1
tzlocal==1.4
urllib3==1.21.1
