title: 環境構築ガイド
type: article
article_template: installguide_index.html

{% set envs = [
   ('Windows', './windows.png', './windows/index.rst'),
   ('macOS', './Apple_logo_black.svg', './macos/index.rst'),
   ('Ubuntu', './ubuntu.png', './ubuntu/index.rst'),
   ('CentOS', './centos.png', './centos/index.rst'),
   ('Fedora', './fedora.png', './fedora/index.rst'),
   ('Anaconda', './anaconda.png', './anaconda/index.rst'),]
%}


<style>
  .oslist {
    display: flex;
    flex-wrap: wrap;
  }



  .oslistitem {
    vertical-align: top;
    text-align: center;
    height: 150px;
    width: 240px;
    border: solid 1px rgba(0,0,0,.125);
    border-radius: .25rem;
    margin: 0.5rem;
  }

  .oslistitem:hover {
    border: solid 3px rgba(0,0,0,.525);
  }



  .oslist img {
    display: inline-block;
    width:100px;
    max-height: 40px;
    vertical-align: text-bottom;
  }

  .oslist h1 {
    display: inline-block;
    vertical-align: middle;
    height: 150px;
  }
</style>

<div class='oslist'>

{% for (text, img, link) in envs %}
   <div class='oslistitem'>
   <a href='{{ content.path_to(link) }}'>
   <h1>
     {% if img %}<img src='{{ content.path_to(img) }}'>{% endif %} <br>
     {{ text }}<br>
   </h1>

   </a> 
   </div>
{% endfor %}

</div>
