{% extends "base.html" %}

{% block jumbotron %}
  {% if page.show_sns_button %}
    <div class='articlle_header'> 
      {{ utils.page_date(page) }}
    </div>
  {% endif %}
  <h1 class="entry-title">{{ page.link_to(page) }}</h1>

{% endblock %}

{% block content %}

<div id="content" class="body article">
  <div class="entry-content">
    {% block content_body %}
      {{ page.html}}
    {% endblock %}

    {% if page.show_sns_button %}
      {{ utils.snsbuttons(page) }}
    {% endif %}
  </div><!-- /.entry-content -->
</div>
{% endblock %}


{% block rightbox %}
  {% if page.category -%}
  <div class="card right-box">
    <div class="card-block">
      <div class="card-title">
        <h2>最近の{{ page.index_title }}</h2>
      </div>
      {% set entries = contents.get_contents(
                       filters={'category':[page.category]})[:5] %}

      {% for c in entries %}
        <div class='small_article_link'>
          {{ c.link() }}
          {% if loop.index != loop.length %}
            <hr>
          {% endif %}
        </div>
      {% endfor %}

    </div>
  </div>
  {%- endif %}

  {{ super() }}
{% endblock %}

