{% extends "base.html" %}

{% block jumbotron %}
  {% include "submission.html" %}
{% endblock %}

{% block content %}

{% import 'utils.html' as utils %}

<div id="content" class="body article">
  <div>
    <div>
      <div class="published">
        {% if page.date %}
          {{ page.date.strftime('%Y-%m-%d') }}
        {% endif %}
      </div>
      <h1 class="entry-title">{{ page.link_to(page) }}</h1>
      {{ utils.snsbuttons(page) }}
    </div>

    <div class="entry-content">
      {{ page.html}}
    </div><!-- /.entry-content -->
  </div>
</div>
{% endblock %}
