  <div class="card right-box">
    <div class="card-block">
      <div class="card-title">
        <h2>Python3 ドキュメント</h2>
      </div>

      <div class="ibox center">
        <a href="https://docs.python.org/ja/3/"
            class="btn btn-primary btn-lg"> 日本語 </a>
      </div>

      <div class="ibox center">
        <a href="https://docs.python.org/3/"
            class="btn btn-primary btn-lg"> 英語 </a>
      </div>

      <div class="card-title">
        <h2>ダウンロード</h2>
      </div>

      <div class="ibox center">
        <a href="https://www.python.org/downloads/release/python-382/"
            class="btn btn-primary btn-lg"> Python 3.8.2</a>
            <small><sub>2020-02-24</sub></small>
      </div>

    </div>
  </div>



  <div class="card right-box">
    <div class="card-block">
      <div class="card-title">
        <h2>ドキュメント翻訳プロジェクト</h2>
      </div>

      <p>
        Pythonドキュメント翻訳するプロジェクトは、 現在、Python 3.8 のドキュメントに対応するために活動中です。
      </p>
      <div style="text-align:right">
        <a href="https://github.com/python-doc-ja/python-doc-ja" class="btn btn-primary btn-lg card-link">詳しく見る</a>
      </div>
    </div>
  </div>



<div class="card right-box">
  <div class="card-block">
    <div class="card-title">
      <h2>Python.jp Discordサーバ</h2>
    </div>
    <p>
      <a href='https://discordapp.com/'>Discord</a> によるチャットサービスです。情報交換・質問・雑談などにご利用ください。
    </p>
    <div style="text-align:right">
      {{ page.link_to("/pages/pythonjp_discord.rst", text="詳しく見る", attrs={"class":"btn btn-primary btn-lg card-link"}) }}
    </div>

  </div>
</div>

<div class="card right-box">
  <div class="card-block">
      <h2><a href='https://twitter.com/python_japan/'><i class="fa fa-twitter" aria-hidden="true"></i> python_japan</a>
</h2>
  </div>
</div>


<div class="card right-box">
  <div class="card-block">
    求人情報・ニュース・イベント告知など、Python関連情報の掲載をご希望の方は、 <code>contact@python.jp</code>
    までご連絡ください。情報掲載は全て無料です。
  </div>
</div>
