{% macro page_date(page) -%}
<div class="published">
  {% if page.date %}
    {{ page.date.strftime('%Y-%m-%d') }}
  {% endif %}
</div>
{%- endmacro %}


{% macro snsbuttons(page) -%}

{% set url = page.url %}
{% set hatena_proto = (url.split(':')[0] == 'https') and 's/' or ''  %}
{% set hatena_url = url.split(':')[1][2:] %}

<div class="snsbuttons">
  <div>
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ url }}"
       data-text="{{ page.title }}">Tweet</a>
  </div>

  <div class="fb-like" data-href="{{ url }}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>

  <div>
    <a href="http://b.hatena.ne.jp/entry/{{ hatena_proto }}{{ hatena_url }}" class="hatena-bookmark-button" data-hatena-bookmark-layout="basic-label-counter" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>

  </div>

  <div>
    <a data-save-url="{{ url }}" data-pocket-label="pocket" data-pocket-count="horizontal" class="pocket-btn" data-lang="en"></a>
  </div>

</div>
{%- endmacro %}

{% macro enlarge_image(src, alt=None, _class=None, style=None, width=None, height=None, link_class="") -%}
  <a href="#" class="enlarge_img {{link_class}}">
    {{ macros.image(src, alt=alt, width=width, height=height) }}
  </a>
{%- endmacro %}

{% macro make_links(page, refs, sep) -%}
  {% set links = [] %}
  {% if isinstance(refs, str) %}
    {% set refs = refs.split(',') %}
  {% endif %}
  {% for ref in refs %}
    {% if ref %}
      {% set obj = page.load(ref.strip()) %}
      {% if obj.is_same(page) %}
        {% set _ = links.append(obj.title) | escape %}
      {% else %}
        {% set _ = links.append(obj.link()) %}
      {% endif %}
    {% endif %}
  {% endfor %}
  {{ sep.join(links) | safe }}
{%- endmacro %}



{% macro prev_and_next(page, pagelist) -%}
  {% set prev, next = get_prev_and_next_page(page, pagelist) %}
  <div class='page_prev_cur_next'>
    <div class='page_link_item'>
      {% if prev %}
        <a href='{{ prev.path() }}'>&lArr; {{ prev.title }}</a>
      {% endif %}
    </div>

    <div class='page_link_item'>
      {{ page.link() }}
    </div>

    <div class='page_link_item'>
      {% if next %}
        <a href='{{ next.path() }}'>{{ next.title }} &rArr;</a>
      {% endif %}
    </div>
  </div>

  {% if prev %}
  {% endif %}

{%- endmacro %}



{% macro page_image(content, link, alt, width='100%') -%}

   <div style='margin: 40px 0px; text-align: center;' >
       {{ macros.image(content.load(content.og_image), alt=alt, width=width,
             link=link) }}
   </div>

{%- endmacro %}